<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryLabel" aria-hidden="true">
	<div class="modal-dialog fullScreen" ng-swipe-right="swipeImg(-1)" ng-swipe-left="swipeImg(1)">
		<div class="modal-content transparent-modal">
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6 col-xs-push-5">
						<span class="text-center hidden-xs"><span class="glyphicon glyphicon-chevron-left arrows col-xs-1" ng-click="swipeImg(-1)" /></span>
						<button type="button" class="alert-dialog-close col-xs-1" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<span class="text-center hidden-xs"><span class="glyphicon glyphicon-chevron-right arrows col-xs-1" ng-click="swipeImg(1)"/></span>
					</div>
				</div>
				<div class="row">
					<img class="img-responsive img-center" ng-src="{{folder.folder}}/img/{{bigImage}}"/>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="gallery" class="row">
	<ul ng-repeat="image in images">
		<li class="col-xs-3 col-sm-3 col-md-2 col-lg-2"><img class="img-responsive" ng-src="{{folder.folder}}/thumb/TN_{{image}}" data-toggle="modal" data-target="#galleryModal" ng-click="showOff($index)" /></li>
	</ul>
</div>
