<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryLabel" aria-hidden="true">
	<div class="modal-dialog fullScreen" ng-swipe-right="swipeImg(-1)" ng-swipe-left="swipeImg(1)">
		<div class="modal-content transparent-modal">
			<div class="modal-body">
				<img class="img-responsive img-center" ng-src="{{folder.folder}}/img/{{bigImage}}" />
			</div>
		</div>
	</div>
</div>

<div id="gallery" class="row">
	<ul ng-repeat="image in images">
		<li class="col-xs-3 col-md-2"><img class="img-responsive" ng-src="{{folder.folder}}/thumb/TN_{{image}}" data-toggle="modal" data-target="#galleryModal" ng-click="showOff($index)" /></li>
	</ul>
</div>
